h3.text-muted {
  font-weight: bold;
}

#app div.show-grid.row {
  margin: 50px auto;
}

.moviesList {
  list-style-type: none;
  padding: 0;
}

.movieRow {
  margin: 8px;
}
.movieRow span {
  padding-left: 10px;
}

.movieRow:hover {
  cursor: pointer;
}

li.placeholder { background: rgb(255,240,120);}

li.placeholder:before {
  content: "Drop here"; color: rgb(225,210,90);
}

ul {
  list-style: none;
  margin:0;
  padding:0
}
li {
  padding: 5px;
  background:#eee
}
