h3.text-muted {
  font-weight: bold;
}

#app div.show-grid.row {
  margin: 50px auto;
}

.fontBold {
  font-weight: bold;
}

.moviesList {
  list-style-type: none;
  padding: 0;
}

.movieRow {
  margin: 8px;
}
.movieRow span {
  padding-left: 10px;
}

.movieRow:hover {
  cursor: pointer;
}

span.glyphicon-th {
  padding-right: 5px;
}
ul {
  padding: 0;
  list-style-type: none;
}
